/*Background and font color*/
* {
  border:0;
  font:inherit;
  font-size:100%;
  vertical-align:baseline;
  margin:0;
  padding:0;
  color: #282828;
  background: white;
/*  background: #FFFFFC;*/
  text-decoration-skip: ink;
}

/*FONT TOGGLING*/

body{
  font-family: 'Helvetica', Sans-Serif;
}

.heading,.serif,h1,h2,h3, h4, h5 {
  font-family: serif;
}






/*Font and size of the body*/
body {
/*  font-family: 'Helvetica', Sans-Serif;*/
/* font-family: 'Open sans', sans-serif;*/
/*  font-family: 'Muli', Sans-Serif;*/
  font-size: 15px;
  line-height:131%;
  max-width:700px;
  margin:auto;
}


/*Font of the headers*/
.heading,.serif,h1,h2,h3, h4, h5 {
/*  font-family: serif;*/
/*font-family: 'Work sans', sans-serif;*/
/*font-family: "Merriweather", serif;*/
}

/*Size of headers*/

/*Danny Yagan title is h1*/
h1 {
  font-size:35px;
  letter-spacing: 1px;
}

/*UC Berkeley link is h4*/
h4 {
  font-size:16px;
  margin-top: 5px;
}

h3 {
  font-size:22px;
/*  margin-top:30px;*/
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

/*Section headers on pages are h5*/
h5 {
  font-size: 17px;
/*  margin-top:30px;*/
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

/*This adjusts the top padding*/
#content {
  text-align:justify;
  width:100%;
  padding-top:45px;
  padding-bottom: 80px; 
}


/*Color/styling of the links*/

#content a:link{
  color: #104E8B;
  text-decoration: none;
}

#content a:visited{
  color: indigo;
}

#content a:hover{
  color: #a40000;
/*  color: #B80000;*/
  text-decoration: underline;
}

#content a:active{
  background-color: skyblue;
}

/**************************************************************************/

p {
  margin: 0px 0 10px;
}

a img {
  border:none;
}

img {
  margin: 10px auto 10px auto;
  max-width: 100%;
  display: block;
}

.left-justify {
  float: left;
}

.right-justify {
  float:right;
}

pre, code {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #f7f7f7;
}

code {
  font-size: 12px;
  padding: 4px;
}

pre {
  margin-top: 0;
  margin-bottom: 16px;
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
}

pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

pre code::before,
pre code::after {
  content: normal;
}

em,q,em,dfn {
  font-style:italic;
}


q:before {
  content:"\201C";
}

q:after {
  content:"\201D";
}


h1 a,h2 a,h3 a {
  text-decoration:none;
}

h1 {
  margin-top:28px;
}

/*#sub-header, time {
  font-size:13px;
}

#sub-header {
  margin: 0 4px;
}*/

#nav h1 a {
/*  color:#1d1313;*/
  line-height:120%;
}

#nav a {
  text-decoration: none;
  background-color: none;
}

#nav li::before {
  content: "";
}

li {
  margin-left: 20px;
}

ul li {
  margin-left: 5px;
}

ul li {
  list-style-type: none;
}
ul li:before {
  content:"\00BB \0020";
}

#nav ul li:before, {
  content:'';
  margin-right:0;
}



#content h1,#content h2 {
  margin-bottom:5px;
}

#content h2 {
  font-size:25px;
}

/*Used to have hanging text in research*/
.hanging{
  padding-left: 1.5em;
  text-indent:-1.5em;
}

/*Used to indent lists in data page*/
.indent{
	padding-left: 2.5em;
	text-indent: -1em;
}


#content h1 {
  font-size:25px;
}

#nav a:hover {
  border-bottom:1px dashed
}

#nav a:active {
  background-color: transparent;
  border-bottom:1px dashed;
}

.current {
  border-bottom: 1px solid !important;
}

/*.btn {
  border: none;  
}*/

#nav {
  text-align:center;
  position: static;
  margin-top:60px;
  width: 100%;
  background: white;
}

/*this margin changes the distance between the sub-title and the menu items*/
#nav ul {
  display: table;
  margin: 18px auto 0 auto;
}

#nav li {
  list-style-type:none;
  display:table-cell;
/*  font-size:15px;*/
  padding: 0 20px;
}

#nav.navbar-fixed-top {
    z-index: 999;
    top: 0;
}

#links {
  margin: 50px 0 0 0;
}

#links :nth-child(2) {
  float:right;
}

#not-found {
  text-align: center;
}

#not-found a {
  font-size: 200px;
  text-decoration: none;
  display: inline-block;
  padding-top: 225px;
}



/*RESIZING FOR SMALLER SCREENS*/

@media (max-width: 750px) {
  body {
    padding-left:20px;
    padding-right:20px;
  }
}

@media (min-width: 900px) {
  #widebody{
    width: 800px;
  }
}

@media (max-width: 750px) {
  body {
    padding-left:20px;
    padding-right:20px;
  }

  #nav h1 a {
    font-size:32px;
  }

  #nav li {
    font-size:13px;
    padding: 0 15px;
  }

  #content {
    margin-top:0;
    padding-top:50px;
    font-size:14px;
  }

  #content h1 {
    font-size:25px;
  }

  h4 {
    font-size:15px;
  }

  #content h5 {
    font-size:15px;
  }
}

@media (max-width: 400px) {
  body {
    padding-left:20px;
    padding-right:20px;
  }

  #nav h1 a {
    font-size:25px;
  }

  #nav li {
    font-size:12px;
    padding: 0 10px;
  }

  #content {
    margin-top:0;
    padding-top:20px;
    font-size:12px;
  }

  #content h1 {
    font-size:20px;
  }

  h4 {
    font-size:13px;
  }

  #content h5 {
    font-size:13px;
  }
}


* {
    box-sizing: border-box;
}


.column{
  float: left;
  padding: 10px;
  padding-top: 0px;
}

.left{
	width: 33%;
}

.right{
	width: 67%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .headshot{
    max-width: 50%;
    height: auto;
  }
}

/*SPECIFICS*/
#journal {
  font-style: italic;
  font-weight: bold;
}

#see-also::after {
  content: ",";
}

#see-also:last-child:after {
  content: ".";
}
